*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}

.container{
    text-align: center;
    background-color: #fff;
    padding:40px;
    border-radius: 10px;
    box-shadow: 20px 20px 20px #d9d9d9 , -20px -20px 100px #ffffff;

}

h1{
    font-family: 'Nunito',sans-serif;
    padding:10px; 
}

.display{
    font-size: 48px;
    font-weight: bold;
    padding:20px;
    background-color: #fff;
    border-radius: 10%;
    margin-bottom: 30px;
    /* box-shadow: inset 20px 20px 20px #d9d9d9, */
    box-shadow:inset 20px 20px 20px #d9d9d9 ,inset -20px -20px  60px #ffffff;
   color:#333;

}

button{
    font-size:24px;
    padding: 10px 20px ;
    margin:10px;
    border-radius: 10px;
    border:none;
    cursor:pointer;
    background-color: #fff;
    color:#333;
    box-shadow: 20px 20px 20px #d9d9d9 , -20px -20px  60px #ffffff;
    transition: all 0.2s ease-in-out;
}

button:hover{
    transition: translate(5px,5px) ;
    box-shadow: 5px 5px 5px #d9d9d9 , -5px -5px -15px  #ffffff;

}

.start{

    background-color:#4CAF50;
    color:#fff;
}
.stop{

    background-color:#008cba;
    color:#fff;
}
.reset{

    background-color:#f44336;
    color:#fff;
}


